      
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if(user) { %>
            <a class="navbar-brand" href="/missions">Go Mission</a>
          <% } else { %>
            <a class="navbar-brand" href="/">Go Mission</a>
          <% } %>
        </div>
        <% if(user) { %>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              
              <li><a href="/missions/new">New Mission</a></li>
              <li><a href="/missions/all">All Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if(user) { %>
                <li><a href="/missions/profile">logged as: <%= user.name %></a></li>
              <% } %>
              
              <li class="active">
                <form method="post" action="users/logout?_method=DELETE">
                  <input type="submit" value="logout" class="btn btn-link logout">
                </form>
              </li>
            </ul>
          <% } %>
        </div><!--/.nav-collapse -->
      </div>
      