body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.container-2 {
  width: 400px;
  height: 400px;
  margin: 100px auto 0;
  padding: 50px;
  border-radius: 15px;
  background-color: #c1f0c1;
}

.container-2 h2 {
  margin-top: 10px;
}

.banner {
  text-align: center;
}

.logout {
  margin: 10px;
}








/*Colors*/

.colorTheme {
  background-color: #fff;
}