<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include ../partials/head %>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">

      <%- include ../partials/nav %>

    </nav>
    

    <div class="container-2" style="height: 220px">

      <a href="/users/new" class="btn btn-lg btn-block colorTheme">Sign Up</a>
      <br><br>
      <a href="/users/login" class="btn btn-lg btn-block colorTheme">Login</a>
      
    </div>






<!-- to remove -->
    <% if (user) { %>
      <h3>Welcome <%= user.email %></h3>
    <% } %>









    <%- include ../partials/footer %>

  </body>
</html>