<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include ../partials/head %>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">

      <%- include ../partials/nav %>

    </nav>
    
    
    <div class="login-div" style="">

      <h3 style="text-align: center">Oops, no user found!</h3>
      
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; 2016 GoMission.</p>
      </div>
    </footer>

    <%- include ../partials/footer %>

  </body>
</html>